.recipeCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  border: 2px solid #b3613c; 
  margin-bottom: 16px;
  margin-top: 28px;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap; 
  border-radius: 15px; 
}

.recipeImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 12px;
  border-radius: 10px; 

}

.recipeInfo {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  flex: 2;
  margin-right: 20px;
}

.recipeTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0; 
  padding-bottom: 5px; 
}

.recipeDescription {
  font-size: 16px;
  color: #666;
  margin: 0; 
  flex: left;
  justify-content: left;
}

.recipePrepTime {
  font-size: 16px;
  margin-left: auto; 
  margin-right: 24px;
}
.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.actions button {
  background-color: #b3613c;
  color: white; 
  font-size: 1.1rem; 
  padding: 0.75rem 1.5rem; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: #cf846d; 
}

/* Responsive Styling */
@media (max-width: 768px) {
  .recipeCard {
      flex-direction: column;
      align-items: flex-start;
  }

  .recipeImage {
      margin-bottom: 12px;
  }

  .recipeInfo {
      align-items: flex-start;
      margin-right: 0;
  }

  .recipeTitle, .recipeDescription {
      margin-bottom: 8px;
  }

  .recipePrepTime {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 12px;
  }

  .actions {
      margin-left: 0;
  }
}
