.popper{
    border: 1px solid #e1e4e8;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    color: #24292e;
    background-color: #fff;
    border-radius: 6;
    width: 280px;
    font-size: 13;
    z-index: 1;
}

.inputWrapper{
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #30363d;
}

.inputWrapper>input {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #30363d;
    padding: 8px;
    font-size: 14px;
}

.button{
    font-size: 13px;
    width: 100%;
    text-align: left;
    padding-bottom: 8px;
    color: #000;
    font-weight: 600;
}

.button>span{
    width: 100%;
}

.button>svg{
    width: 16px;
    height: 16px;
}

.wrapper{
    width: 280px;
    font-size: 16px; 
}

.ingredientBox{
    margin-top: 3px;
    padding: .15em 4px;
    font-weight: 600;
    line-height: 15px;
    border-radius: 2px;
    background-color: #b3613c;
}

.option{
    flex-grow: 1px; 
    margin-left: 1px; 
}