
.containerList {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 1.5rem;
  /* align-items:center; */
  box-sizing: border-box;
}

.containerList .labelList{
  text-align: left;
  font-weight: 600;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  min-height: 50px;
  position: relative;
  box-sizing: border-box;
}

.inputWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer input {
  flex-grow: 1;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.inputContainer .error {
  border-color: red;
}

.inputContainer .errorText {
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  color: red;
  font-size: 0.875rem;
  margin-top: 0.2rem;
  text-align: left;
}

.inputContainer .removeButton {
  position: absolute;
  top: -1; 
  right: 0; 
  background-color: #b3613c;
  color: white;
  border: none;
  padding: 0;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-shrink: 1; 
}

.addButton {
  background-color: #f9f9f9;
  color: #b3613c;
  padding: 8px 12px;
  font-size: 0.9rem;
  border: 1px solid #b3613c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.3rem;
  align-self: flex-start;
}

.addButton:hover {
  background-color: #f0f0f0;
}
