.uploadRecipe{
    text-align: center;
    padding: 20px;
  }
  
  .headline {
    font-size: 2em;
    margin-bottom: 20px;
    color: #b3613c;
  }

  .notConnectedUpload{
    margin-top: 20px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border: #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4ede7;
    cursor: pointer;
    box-shadow: #000000;
  }

  .notConnectedUpload .head2{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.4em;
    color: #b3613c;
  }

  .notConnectedUpload .linkToConnectU{
    color: #b3613c;
    text-decoration: underline;
    margin-top: 5px;
  }
