/* Apply styling to ensure consistent appearance */
.error {
    border: 2px solid red !important;
  }
  
  .errorBorder {
    border: 1px solid red;
  }
  
  .errorText {
    color: red;
    margin-top: 0.25rem;
    display: block; 
    text-align: left; 
  }

  .react-select__control {
    border-color: #d3d3d3;
  }
  
  .react-select__control.error {
    border-color: red !important;
  }
  
  .react-select__indicator-separator {
    background-color: red;
  }
  