* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.search-input {
  background: #fefefe;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(255, 198, 198, 0.12);
  padding: 0;
  z-index: 10;
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-options {
  padding: 0;
  max-height: 280px;
  overflow-y: auto;
  position: absolute; /* Position the options absolutely */
  width: 100%;
  top: 100%;
  background-color: #fefefe;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.search-input.active .search-options {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.search-option {
  list-style: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  display: block;
  width: 100%;
  top: 100px;
  text-align: left;
  background-color: #fefefe;
  border: 1px solid transparent;
  z-index: 100;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
}

.search-input button {
  border: none;
  background-color: #fefefe;
}

.search-option:hover {
  background-color: #f9f9f9; /* Add a hover effect */
}

@media (max-width: 480px) {
  .wrapper {
      margin: 80px auto;
      max-width: 100%;
      padding: 0 8px;
  }

  .search-input {
      box-shadow: none;
      border-radius: 5px;
  }

  .search-input input {
      height: 40px;
      font-size: 12px;
      padding: 0 45px 0 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .search-input .icon {
      height: 20px;
      width: 20px;
      font-size: 12px;
      right: 5px;
      line-height: 45px;
  }

  .search-option {
      width: 95%;
      font-size: 12px;
      max-height: 180px;
  }

  .search-input button {
      font-size: 12px;
  }
}
