label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
  }
  .errorBorder {
    border: 1px solid red;
  }
  
  .errorText {
    color: red;
    margin-top: 0.25rem;
    display: block; 
    text-align: left; 
  }
  
  input.error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 0.75rem;
  }

  