.container {
width: 280px;
}

.typography {
color: black;
margin-bottom: 1px;
text-align: left;
}

.slider {
color: black !important;
}

.slider>:global(.MuiSlider-thumb) {
border-radius: 50%;
border: 2px solid black;
}
