.app {
  text-align: center;
  margin-bottom: 100px;
}

.appHeader {
  background-color: #f4ede7;
  padding: 5px 30px 5px 30px;
  color: #b3613c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appLogo {
  height: 100px;
}

.appNav {
  display: flex;
  gap: 20px;
}

.appLink {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.appLink:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
  background-color: #fefefe;
  height: 100vh;
}

.footer {
  padding: 10px;
  background-color: #f4ede7;
  color: #b3613c;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
nav button{
  background-color: #b3613c; /* Dark coral background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding for size */
  border: none; /* No border */
  border-radius: 5px; /* Slightly rounded corners */
  font-size: 16px; /* Button text size */
  text-align: center; /* Center the text inside the button */
  cursor: pointer; /* Pointer cursor */
  text-decoration: none; /* Remove underline from links */
  display: inline-block; /* Make sure links behave like buttons */
}


/* @media screen and (max-width: 400px) {
  .main{ display:inline-flex;}
  .appLogo{height: 100px;}
} */