/* App.module.css */
.app {
  text-align: center;
  margin-bottom: 100px;
}

.appHeader {
  background-color: #f4ede7;
  padding: 5px 30px 5px 30px;
}


.main {
  padding: 20px;
  background-color: #fefefe;
  height: 100vh;
}

@media screen and (max-width: 400px) {
  .main{ display:inline-flex;}
  .appLogo{height: 100px;}
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    width: 90%;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .main {
    padding: 5px;
    width: 100%;
  }
}
